{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1 class='question-text'>{{ question.question_text }}</h1></legend>
        {% if messages %}
            <ul class="messages">
            {% for msg in messages %}
                <li class="{{msg.tags}}">{{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label class= 'choice' for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <br/>
    <div class='buttons'>
        <button class='nav'>Vote</button>
        <a href={% url 'index' %} class="redirect">
            <button type='button' class="redirect nav">Home</button>
        </a>
        <a href={% url 'polls:results' question.id %} class="redirect" >
            <button type='button' class="redirect nav">Results</button>
        </a>
    </div>
</form>