{% extends "polls/base_template.html" %}

{% block content %}

    {% if messages %}
    <ul class="messages">
    {% for msg in messages %}
        <li class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if questions_list %}
        <h1 class="polls-header">Available Polls</h1>
        <div class='polls-list'>
        {% for question in questions_list %}
                <div class='polls' onclick="window.location='{% url 'polls:detail' question.id %}';"> 
                    <div class='polls-text'>
                        {{ question.question_text }}
                    </div>
                    <div class="polls-flag-and-button">
                        <div class='status' style="background-color:{% if question.can_vote %} #7CFF2C {% else %} #FF912C {% endif %}">
                            {% if question.can_vote %} 
                                OPEN
                            {% else %} 
                                CLOSED 
                            {% endif %}
                        </div>
                        <a class="button no-text-decor" href={% url 'polls:results' question.id %} >
                            Results
                        </a>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}
