{% extends "polls/base_template.html" %}

{% block content %}

    {% if messages %}
    <ul class="messages">
    {% for msg in messages %}
        <li class="{{msg.tags}}">{{ msg }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if questions_list %}
        <h1>Available Polls</h1>
        <ul>
        {% for question in questions_list %}
            <a class='polls-text' href="{% url 'polls:detail' question.id %}">
                <div class='polls'> 
                    {{ question.question_text }}
                    <div class='status' style="background-color:{% if question.can_vote %} #7CFF2C {% else %} #FF912C {% endif %}">
                        {% if question.can_vote %} 
                            OPEN
                        {% else %} 
                            CLOSED 
                        {% endif %}
                    </div>


                    {% comment %} {% if question.can_vote %} 
                    <div class='status-open'>
                        OPEN
                    </div>
                    {% else %}
                    <div class='status-close'>
                        CLOSED
                    </div>
                    {% endif %} {% endcomment %}
                </div>
            </a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}
