li a {
    color: green;
    font-size: 2vh;   
}

li a:hover {
    color: lightgreen;
    font-size: 2vh;
}

a.redirect {
    text-decoration: none !important;
    color: black;
}

.error_message {
    color: red;
}

body {
    background: white;
    background-image: url('images/drog.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}