li a {
    color: green;
    font-size: 2vh;   
}

li a:hover {
    color: lightgreen;
    font-size: 2vh;
}

.buttons {
    padding: 0px;
}

.logout {
    background-color: lightblue;

}

.nav {
    padding: 5px;
    margin-right: 3;
    min-width: 4vw;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cyan;
    width: 100%;
    text-align: right;
}

.welcome_user {
    font-size: 2vh;
}

a.redirect {
    text-decoration: none !important;
    color: black;
}

.error {
    color: red;
}

.success {
    color: green;
}


.polls {
    border-radius: 15px;
    max-width: 50vw;
    min-height: 5vh;
    background-color: rgb(217, 217, 217, 0.4);
    display: flex;
    padding: 5px;
    margin: 2vh;
}

.polls-text {
    text-decoration: none !important;
}

.status {
    border-radius: 6px;
    color: black;
    min-width: 6vw;
    max-height: 2.5vh;
    margin-left: auto; 
    margin-right: 2vw;
    text-align: center;
}

td, tr, th {
    border: 1px solid black;
    border-spacing: 5px;
    padding: 5px;

}

table {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-spacing: 5px;
    border-collapse: collapse;
    width: 40vw;
}

body {
    background: white;
    background-image: url('images/Corgi_driving.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html, body{
    height: 100%;    
}