li a {
    color: green;
    font-size: 2vh;   
}

li a:hover {
    color: lightgreen;
    font-size: 2vh;
}


body {
    background: white;
    background-image: url('images/drog.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}